<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/form-both.css" />
    <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
</head>
<body class="bg-white h-fit">
<div class="lp-grid">
    <div class="grid-lp-left">
        <div class="form-app">
            <h2>Login Applicant</h2>
            <p>Form login untuk Applicant </p>
            <p id="title-form">Username</p>
            <div>
                <input type="text" id="fname" name="firstname" placeholder="Masukkan Username">
            </div>
            <p id="title-form1">Password</p>
            <div>
                <input type="text" id="fname" name="firstname" placeholder="Masukkan Password">
            </div>

            <div class="forgot-section">
                <div class="remember">
                    <div class="terms">
                        <input type="checkbox" id="terms1" name="vehicle1" value="Bike">
                        <label for="terms1">Ingat saya </label>
                    </div>
                </div>
                <div class="forgot-pass">
                    Lupa Password?
                </div>
            </div>
            <div class="cta">
                <div class="navi-btn">
                    <div class="next-btn">
                        <div class="next">
                            Login Sekarang
                        </div>
                        <div class="arrow-right">
                            <img src="asset/img/arrow-right.png" alt="DigiHero">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-btn">
            <a href="login.html"> <img src="asset/img/back-btn.png" alt="DigiHero"></a>
        </div>

        <div class="login-left">
            <div class="login-left01">
                <a href="home.html">
                    <div class="login-left01">
                        <img class="login-digi-logo" src="asset/img/Digihero%20Logo.png" alt="DigiHero">
                    </div>
                </a>            </div>
            <div class="login-left02">
                <div class="login-form">
                    <label for="userType">Select your role:</label>
                    <select id="userType">
                        <option value="applicant">Applicant</option>
                        <option value="digihero">Digihero</option>
                    </select>
                    <button onclick="register()">Register</button>
                </div>
            </div>
        </div>


    </div>
    <div class="grid-lp-right">
        <div class="slideshow-container relative">
            <div class="mySlides">
                <img class="img-digi1" src="asset/img/anak.jpg" alt="DigiHero">
                <div class="slide-text">Kegiatan Edukasi Di Palangkaraya, Kalteng</div>
            </div>
            <div class="mySlides">
                <img class="img-digi1" src="asset/img/anak5.jpg" alt="Anak">
                <div class="slide-text">Kegiatan Edukasi Di Lhokseumawe, Aceh</div>
            </div>
            <div class="mySlides">
                <img class="img-digi1" src="asset/img/anak2.jpg" alt="Anak 1">
                <div class="slide-text">Kegiatan Edukasi Di Klaten, Jawa Tengah.</div>
            </div>
            <div class="mySlides">
                <img class="img-digi1" src="asset/img/anak7.jpg" alt="Anak 2">
                <div class="slide-text">Kegiatan Edukasi Di Kebumen, Jawa Tengah.</div>
            </div>
            <div style="text-align:center; margin-top: 10px;">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script>
    var slideIndex = 0;

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");

        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dots[i].classList.remove("active");
        }

        slideIndex++;

        if (slideIndex > slides.length) {
            slideIndex = 1;
        }

        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].classList.add("active");

        setTimeout(showSlides, 3000);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n - 1);
    }

    showSlides();


    function register() {
        var userType = document.getElementById('userType').value;
        var redirectUrl;

        switch (userType) {
            case 'applicant':
                redirectUrl = 'applicantForm.html';
                break;
            case 'digihero':
                redirectUrl = 'Heroes.html';
                break;
            default:
                alert('Invalid role selected');
                return;
        }

        window.location.href = redirectUrl;
    }
</script>
</body>
</html>
